@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins";
    
}

body{
    background-color: #a7b3ab;
}

.formulario {
    display: flex;
    align-items: center;
    height: auto;
    border: none;
    margin-left: auto;
    margin-top: 2%;
    text-align: center;
    width: 100%;
    flex-direction: column;
  }



.Container-cabeçalho{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 3rem;
    width: 100%;
}

.em_construcao {
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 100px;
    border:none;
    text-align: center;
  }

#titulo {
    margin: auto;
    text-align: center;
}

#subtitulo {
    margin: auto;
    text-align: center;
}

fieldset {
    border: 0;
}

.contato {
    margin-left: auto;
    margin-top: 2%;
    justify-content: center;
    text-align: center;
    width: 80%;
}

input, select, textarea, button {
    border-radius: 5px;
    width: 80%;
}

.campo {
    margin-bottom: 0.2em;
    width: 100%;
}

.campo label{
    margin-bottom: 0.2em;
    display: block;
}

fieldset.grupo .campo {
    float:  left;
    margin-right: 0em;
}

.campo input[type="text"], .campo input[type="email"], .campo select, .campo textarea {
    padding: 0.2em;
    border: 0px solid #59429d;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
}

/* Elementos de classe "campo" de tag <select> e <option>*/
.campo select option {
    padding-right: em;
}

/* Elemento de classe "campo" com tag <input>, <select> e <textarea> tocas com estado da pseudoclasse "focus"*/
.campo input:focus, .campo select:focus, .campo textarea:focus {
    background: #E0E0F8;
}

/* Elemento de classe "botao" */
.botao {
    font-size: 1.2em;
    background: #59429d;
    border: 0;
    margin-bottom: 1em;
    color: #ffffff;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    position: absolute;
    top: 90%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

/* Elemento de classe "botao" com o estado da pseudoclasse "hover" */
.botao:hover {
    background: #CCBBFF;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
}

/* Elementos de classe botão e de tag <select> */
.botao, select{
    cursor: pointer;
}



.logo{
    display: flex;
    align-items: center;
}

.logo img{
    width: 120px;
    height: auto;
}

.logo h1{
    color: #fff;
    font-size: 1.55rem;
    font-weight: 700;
    margin-left: 0.8rem;
}

ul{
    display: flex;
    list-style: none;
    gap: 1.5rem;
}

ul li a{
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

ul li a:hover{
    color: #5bacdf;

}

.btn{
    font-size:1.2em;
    color: #fff;
    background-color: #5bacdf;
    padding: 0.9rem 1.3rem;
    border-radius: 0.5rem;
}

.btn:hover{
    color: #fff;
    background-color: #011927;
}

.Meio{
    display: flex;
    max-width: 100%;
    margin-top: 5rem;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    
}



.Direita img{
    max-width: 100%;
    width: 300px;
    height: auto;
}

.Esquerda{
    max-width: 100%;
}



.Title h1{
    font-size: 50px;
    color: #ccc;
}

.Esquerda p{
    color: #ccc;
    line-height: 2.5rem;
}

button{
    color: #fff;
    background-color: #5bacdf;
    padding: 0.9rem 1.3rem;
    border-radius: 0.5rem;
    border: none;
    margin-top: 1.5rem;
    cursor: pointer;
}

button:hover{

    color: #fff;
    background-color: #2889c2;

}

aside{
    display: none;
}



@media screen and (max-width: 740px) {

    ul{
        display: none;
    }

    .links{
        display: block;
    }

   .logo{
    margin-right: 15rem;
   }

  
    aside{
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        overflow: hidden;
    }
    
    .icon-menu ion-icon{
        width: 45px;
        height: 45px;
        margin-right: 1.5rem;
        margin-top: 2rem;
        color: #ccc;
    
    }
    
    #barra-menu{
        background: #2889c2;
        height: 110vh;
        width: 0px;
        transition: 0.3s all;
        
    }

    #barra-menu ul{

        align-items: center;
        text-align: center;
        padding: 5rem;
        line-height: 5rem;
        

    }

    
 
    #barra-menu ul li a{
        color: #011927;
        text-decoration: none;
        font-size: 1rem;
        width: 100%;
       
      
    }
    
    #barra-menu ul li a:hover{
        padding: 8px;
        border-radius: 15px;
        background: #5bacdf;
    
    }
    
    .C-icon{
    
        margin-top: 50%;
        display: flex;
        justify-content: center;
        text-align: center;
        gap: 15px;
        overflow: hidden;
       
    }
    
    .C-icon span{
        color: #FBF7F7;
        font-size: 1rem;
        
        
    }
    
    .C-icon span:hover{
        transition: 0.2s;
        transform: 0.5;
        color: #C229AA;
    }
    
}


@media screen and (max-width: 580px){
    
    .Title h1{
        font-size: 2.2rem;
        margin-left: 1.5rem;
    }

    .Esquerda p{
        font-size: 1rem;
        margin-left: 1.5rem;
        width: 450px;
    }

    button{

        margin-left: 1.5rem;

    }

    .Direita img{
        max-width: 100%;
        width: 450px;
        margin-top: 4.5rem;
        height: auto;
    }
}

@media screen and (max-width: 440px){

     .Direita img{
        margin-left: 1.2rem;
     }

}

@media screen and (max-width: 414px){
    .Esquerda p{
        width: 300px;
    }
}


@media screen and (max-width: 375px){
    .Esquerda p{
        width: 300px;
    }

   
}

